* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Fakt Pro Normal";
  padding: 0 1rem;
  background-color: #f3f6f9;
}

header,
#app,
#app.container {
  background-color: #f3f6f9;
}

form,
#chart,
#table {
  background-color: white;
}
header {
  margin-left: -0.67rem;
}

header img {
  width: 150px;
}

.btn-primary {
  background-color: #0abf53;
  color: white;
  border-color: #0abf53;
}

.btn-primary:focus,
.btn-primary:hover,
.btn-primary:active {
  background-color: #068f3e;
  border-color: #068f3e;
}

.btn-secondary {
  background-color: #20304c;
}

.btn-secondary:hover {
  background-color: #394962;
}

.btn-outline-primary {
  background-color: white;
  color: #394962;
  border-color: #394962;
}

.btn-outline-primary:hover {
  background-color: #394962;
  border-color: #394962;
}

.btn-check:checked + .btn-outline-primary {
  background-color: rgb(32, 48, 76);
  border-color: #20304c;
}

.table-text-opacity {
  color: rgba(32, 48, 76, 0.2);
  font-size: 3rem;
  border-bottom: 0;
}

.btn-round {
  width: 50px;
  height: 50px;
  background-color: #0abf53;
  border: 0;
}

.btn-hidden {
  display: none;
}

footer {
  background-color: rgb(32, 48, 76);
  color: #a5afbd;
}

footer p {
  padding: 0.5rem 0;
}

#rate {
  color: #a5afbd;
}

@media screen and (min-width: 768px) {
  #switch-currencies {
    transform: rotate(90deg);
  }
}
